body {
	background: url(../images/fondo.jpg) repeat;
}

.navbar {
	background-image: url(../images/bg-red.jpg);
}


.izq {
	background-color: rgba(255, 255, 255, 0.8);
	min-height: 445px;
	padding: 15px;
}


.izq .primero{
	min-height: 160px;
	margin-bottom: 15px;
	font-size: 68px;
}

.izq .segundo{
	min-height: 160px;
	margin-bottom: 15px;
	font-size: 68px;
}
.izq .otros{
	height: 55px;
	font-size: 27px;
}
.der {
	min-height: 400px;
}

.marq {
		background-color: rgba(255, 255, 255, 0.8);
		min-height: 45px;
		margin-top: 20px;
}

.marq p {
	text-align: center;
    padding-top: 12px;
    font-size: 20px;
}

.marq p strong{
	color: #751F12;
}
